body{
    position:relative;
    background: url(final.jpg);
    /* background: linear-gradient(black,grey,black,grey); */
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 1000vh; */
    
}
#add_skill{
    background-color: rgb(59, 58, 58);
    color: white;
}
#add_skill:hover{
    background-color: rgb(20, 20, 20);
}
#add_hobby{
    background-color: rgb(27, 27, 27);
    color: white;

}
#add_hobby:hover{
    background-color:rgb(20, 20, 20);
}
#add_lang{
    background-color: rgb(29, 28, 28);
    color: white;

}
#add_lang:hover{
    background-color: rgb(20, 20, 20);
}
/* #preview{
    color:white;
    font-weight: bold;
    
    } */
.container{
    width:45%
}   
