*{
    margin-left: 0;

}

.header{

height:20px;
background-color: rgb(16, 120, 161);
border-radius:10px;
color:white;
padding:2%;
font-size: 20px;

}
.one{
        margin-left:25px;
}
.two{
    display: block;

    margin-left: 32px;
}
.three{
    margin-left: 24px;
}
.main{
    width: 70%;
    background-color: green;
    height:70%;
    border-radius: 10px;
    margin-top:1%;
    color:white;
    padding:20px;
    font-size: 20px;
    display: inline-block;

    
}
.sidebar{
    width:268px;
    background-color: orangered;
    height:70%;
    display: inline-block;
    padding:20px;
    border-radius: 10px;
    margin-top: 12px;
    color:white;
    font-size:20px ;
    margin-left:48px;
    vertical-align: top; 
       
}

.footer{
height:20px;
background-color: rgb(16, 120, 161);
border-radius:10px;
color:white;
padding:2%;
font-size: 20px;
margin-top:10px;

}
.main div{
background-color: rgb(18, 66, 18);
height:116px;
width:176px;
display: inline-block;
margin-top:12px;
margin-bottom: 10px;
margin-left: 30px;
padding: 2px;
border-radius: 10px;
text-align:center;
padding-right: 10px;
}
