 *{
    text-align: center;
   } 
   body{
    background:linear-gradient(#1f0021,#751006);
    background-repeat: no-repeat;
    height:650px;
    font-family: "Cherry Cream Soda", system-ui;

   }
.list_td1{
    list-style: none;
    text-align: center;
    width:80%; 
   
    /* margin-top: 30px; */
} 
#list_a{
    text-decoration: none;
    margin-right: 100px;
    color: white;
    font-size: large;    
}
#list_a:hover{
    color:gray
}

.table{
    /* margin-left: 20px; */
    margin-top: 50px;
    text-align: center;
    /* border:1px solid white */
}
#list{
    border:1px solid white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#update_btn{
    margin-left: 30px;
}
.del_td{
    width:32%
}
.edit_td{
    width:32%;
    
}
button {
    padding: 10px 20px;
    /* text-transform: lowercase; */
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color:white;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
  }
  
  .del:hover,
  :focus {
    color: #ffffff;
    background: #ee0d0d;
    border: 1px solid #ee0d0d;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #ee0d0d, 0 0 20px #ee0d0d, 0 0 50px#ee0d0d,
      0 0 100px #ee0d0d;
  }
  #update_btn:hover,
  :focus {
    color: #ffffff;
    background: #def044;
    border: 1px solid #def044;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #def044, 0 0 20px #def044, 0 0 50px #def044,
      0 0 100px #def044;
  }